{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
    <h1 class="my-4">{{ title }}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'create_label'%}">{{button_name}}</a>
    <table class="table table-striped">
        <thead>
           <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Created at" %}</th>
            <th></th>
           </tr>
        </thead>
        <tbody>
            {% for label in labels %}
                <tr>
                    <td>
                        {{ label.id }}
                    </td>
                    <td>
                        {{ label.name }}
                    </td>
                    <td>
                        {{ label.created_at }}
                    </td>
                    <td>
                        <a href="{% url 'edit_label' label.id %}">{% translate "Edit" %}</a>
                        <br>
                        <a href="{% url 'del_label' label.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}