{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
    <h1 class="my-4">{% translate title %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'create_status'%}">{% translate button_name %}</a>
    <table class="table table-striped">
        <thead>
           <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Created at" %}</th>
            <th></th>
           </tr> 
        </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <td>
                        {{ status.id }}
                    </td>
                    <td>
                        {{ status.name }}
                    </td>
                    <td>
                        {{ status.created_at }}
                    </td>
                    <td>
                        <a href="{% url 'edit_status' status.id %}">{% translate "Edit" %}</a>
                        <br>
                        <a href="{% url 'del_status' status.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}