{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">Вход</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-danger" type="submit" value="Login">
    <input class="btn btn-primary" type="button" value="{% trans 'Cancel' %}" onclick="history.back();">
</form>
{% endblock %}