{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
    <table class="table table-striped">
        <thead>
           <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Created at</th>
            <th></th>
           </tr> 
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.first_name }} {{ user.last_name }}
                    </td>
                    <td>
                        {{ user.created_at }}
                    </td>
                    <td>
                        <a href="{% url 'edit_user' user.id %}">Изменить</a>
                        <br>
                        <a href="{% url 'del_user' user.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}