{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div>
    <h1 class="my-4">{{ title }}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'create_task'%}">{% translate "Create task" %}</a>
    
    {% block filter %}
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% bootstrap_form filter.form %}
                <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
            </form>
        </div>
    </div>    
    {% endblock %}
    
    <table class="table table-striped">
        <thead>
           <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Creator" %}</th>
            <th>{% translate "Performer" %}</th>
            <th>{% translate "Created at" %}</th>
            <th></th>
           </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        {{ task.id }}
                    </td>
                    <td>
                        <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
                    </td>
                    <td>
                        {{ task.status }}
                    </td>
                    <td>
                        {{ task.creator }}    
                    </td>
                    <td>
                        {{ task.executor }}    
                    </td>
                    <td>
                        {{ task.created_at }}
                    </td>
                    <td>
                        <a href="{% url 'edit_task' task.id %}">{% translate "Edit" %}</a>
                        <br>
                        <a href="{% url 'del_task' task.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}